<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Administrador</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <link rel="stylesheet" href="../public/app/css2/Cssadm.css">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">


    <link rel="Icon" href="../public/img/Admin1.jpg" type="image/x-icon" />

</head>

<body>

    <nav class="navbar navbar-expand-lg" style="background: #023f37;">

            <div class="dropdown mb-3">
                    <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuBoton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                       
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuBoton">
                       
                        <div class="dropdown-divider"></div>
                        <a  href="/indexlogin" class="dropdown-item"   >CERRAR SESION</a>
                      
                    </div>            
                </div>
        <div class="container">
            <a class="navbar-brand text-white">
                <% if(typeof datos !== 'undefined'){ %>
                <h4> <%= datos[0].usuario%></h4>
                <% } %>
            </a>

        </div>
        <div>
            <a class="navbar-brand text-white">
                <h3>Administrador</h3>
            </a>
        </div>
    </nav>



    <!-- partial:index.partial.html -->
    <div class="cotn_principal">
        <div class="cont_centrar">
            <div class="container text-center">
                <h1 class="mt-5 text-center masthead-heading text-uppercase mb-0">Bienvenido, Señor Administrador</h1>
                <p class="lead text-white-50"></p>
            </div>
            <div class="cont_login">
                <div class="cont_info_log_sign_up">
                    <div class="col_md_login">
                        <div class="cont_ba_opcitiy">

                            <h2>ADMINISTRAR RESERVAS DE CLIENTES</h2>
                                   <a class="btn_login" href="/adminmesas">ENTRAR</a>
                        </div>
                    </div>
                    <div class="col_md_sign_up">
                        <div class="cont_ba_opcitiy">
                            <h2>ADMINISTRAR PLATOS Y BEBIDAS</h2>

                            <a class="btn_login" href="/adminplatos">ENTRAR</a>
                        </div>
                    </div>
                </div>


                <div class="cont_back_info">
                    <div class="cont_img_back_grey">
                    
                        <img src="../public/img/res_den.jpg" ; alt="100" />
                    </div>

                </div>
                <div class="cont_forms">
                    <div class="cont_img_back_">
                        <img src="https://images.unsplash.com/42/U7Fc1sy5SCUDIu4tlJY3_NY_by_PhilippHenzler_philmotion.de.jpg?ixlib=rb-0.3.5&q=50&fm=jpg&crop=entropy&s=7686972873678f32efaf2cd79671673d"
                            alt="100" />
                    </div>

                </div>

            </div>
        </div>
        <div> <a href="/indexlogin" class="btn btn-primary">Volver</a></div>
    </div>

    <!-- partial -->
    <script src="../public/app/js2/jsadmin.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!--Archivos de javascript-->
</body>
</html>


</body>

</html>